

#style-main, table
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.style-postcontent,
.style-postcontent li,
.style-postcontent table,
.style-postcontent a,
.style-postcontent a:link,
.style-postcontent a:visited,
.style-postcontent a.visited,
.style-postcontent a:hover,
.style-postcontent a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   text-align: left;
   line-height: 150%;
}

.style-postcontent p
{
   margin: 12px 0;
}

.style-postcontent h1, .style-postcontent h1 a, .style-postcontent h1 a:link, .style-postcontent h1 a:visited, .style-postcontent h1 a:hover,
.style-postcontent h2, .style-postcontent h2 a, .style-postcontent h2 a:link, .style-postcontent h2 a:visited, .style-postcontent h2 a:hover,
.style-postcontent h3, .style-postcontent h3 a, .style-postcontent h3 a:link, .style-postcontent h3 a:visited, .style-postcontent h3 a:hover,
.style-postcontent h4, .style-postcontent h4 a, .style-postcontent h4 a:link, .style-postcontent h4 a:visited, .style-postcontent h4 a:hover,
.style-postcontent h5, .style-postcontent h5 a, .style-postcontent h5 a:link, .style-postcontent h5 a:visited, .style-postcontent h5 a:hover,
.style-postcontent h6, .style-postcontent h6 a, .style-postcontent h6 a:link, .style-postcontent h6 a:visited, .style-postcontent h6 a:hover,
.style-blockheader .t, .style-blockheader .t a, .style-blockheader .t a:link, .style-blockheader .t a:visited, .style-blockheader .t a:hover,
.style-vmenublockheader .t, .style-vmenublockheader .t a, .style-vmenublockheader .t a:link, .style-vmenublockheader .t a:visited, .style-vmenublockheader .t a:hover,
.style-logo-name, .style-logo-name a, .style-logo-name a:link, .style-logo-name a:visited, .style-logo-name a:hover,
.style-logo-text, .style-logo-text a, .style-logo-text a:link, .style-logo-text a:visited, .style-logo-text a:hover,
.style-postheader, .style-postheader a, .style-postheader a:link, .style-postheader a:visited, .style-postheader a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 30px;
   text-decoration: none;
}

.style-postcontent a
{
   text-decoration: underline;
   color: #420000;
}

.style-postcontent a:link
{
   text-decoration: underline;
   color: #420000;
}

.style-postcontent a:visited, .style-postcontent a.visited
{
   color: #253324;
}

.style-postcontent  a:hover, .style-postcontent a.hover
{
   color: #203B07;
}

.style-postcontent h1
{
   color: #0A290B;
   margin: 10px 0 0;
   font-size: 26px;
   text-align: center;
}

.style-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   text-align: center;
}

.style-postcontent h1 a, .style-postcontent h1 a:link, .style-postcontent h1 a:hover, .style-postcontent h1 a:visited, .style-blockcontent h1 a, .style-blockcontent h1 a:link, .style-blockcontent h1 a:hover, .style-blockcontent h1 a:visited 
{
   font-size: 26px;
   text-align: center;
}

.style-postcontent h2
{
   color: #0A290B;
   margin: 10px 0 0;
   font-size: 22px;
   text-align: center;
}

.style-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   text-align: center;
}

.style-postcontent h2 a, .style-postcontent h2 a:link, .style-postcontent h2 a:hover, .style-postcontent h2 a:visited, .style-blockcontent h2 a, .style-blockcontent h2 a:link, .style-blockcontent h2 a:hover, .style-blockcontent h2 a:visited 
{
   font-size: 22px;
   text-align: center;
}

.style-postcontent h3
{
   color: #0B190B;
   margin: 10px 0 0;
   font-size: 18px;
   text-align: center;
}

.style-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
   text-align: center;
}

.style-postcontent h3 a, .style-postcontent h3 a:link, .style-postcontent h3 a:hover, .style-postcontent h3 a:visited, .style-blockcontent h3 a, .style-blockcontent h3 a:link, .style-blockcontent h3 a:hover, .style-blockcontent h3 a:visited 
{
   font-size: 18px;
   text-align: center;
}

.style-postcontent h4
{
   color: #0A290B;
   margin: 10px 0 0;
   font-size: 16px;
   text-align: center;
}

.style-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
   text-align: center;
}

.style-postcontent h4 a, .style-postcontent h4 a:link, .style-postcontent h4 a:hover, .style-postcontent h4 a:visited, .style-blockcontent h4 a, .style-blockcontent h4 a:link, .style-blockcontent h4 a:hover, .style-blockcontent h4 a:visited 
{
   font-size: 16px;
   text-align: center;
}

.style-postcontent h5
{
   color: #0A290B;
   margin: 10px 0 0;
   font-size: 14px;
   text-align: center;
}

.style-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
   text-align: center;
}

.style-postcontent h5 a, .style-postcontent h5 a:link, .style-postcontent h5 a:hover, .style-postcontent h5 a:visited, .style-blockcontent h5 a, .style-blockcontent h5 a:link, .style-blockcontent h5 a:hover, .style-blockcontent h5 a:visited 
{
   font-size: 14px;
   text-align: center;
}

.style-postcontent h6
{
   color: #145216;
   margin: 10px 0 0;
   font-size: 13px;
   text-align: center;
}

.style-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   text-align: center;
}

.style-postcontent h6 a, .style-postcontent h6 a:link, .style-postcontent h6 a:hover, .style-postcontent h6 a:visited, .style-blockcontent h6 a, .style-blockcontent h6 a:link, .style-blockcontent h6 a:hover, .style-blockcontent h6 a:visited 
{
   font-size: 13px;
   text-align: center;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#style-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

#style-page-background-glare-wrapper {
   position: fixed;
   width:100%;
}

#style-page-background-glare
{
   position: relative;
   top: 0;
   max-width:584px;
   min-width: 1000px;
   height:287px;
   margin: 0 auto;
   background-image: url('../images/page_gl.png');
   background-repeat: no-repeat;
   background-position: center top;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #000000;
   background-color: #0B190B;
   background-image: url('../images/Bottom_texture.jpg');
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top left;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.style-box, .style-box-body {
   margin:0 auto;
   position:relative;
}
.style-box:before, .style-box:after, .style-box-body:before, .style-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.style-box:before,.style-box-body:before{
   left:0;
}
.style-box:after,.style-box-body:after{
   right:0;
}
.style-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.style-box:after {
   background-position: bottom right;
   z-index:-3;
}
.style-box-body:before, .style-box-body:after {
   background-repeat:repeat-y;
}
.style-box-body:before {
   background-position: top left;
   z-index:-3;
}
.style-box-body:after {
   background-position: top right;
   z-index:-3;
}

.style-box .style-box:before, .style-box .style-box:after, .style-box-body .style-box-body:before, .style-box-body .style-box-body:after {
   z-index:-2;
}
.style-box .style-box .style-box:before, .style-box .style-box .style-box:after, .style-box-body .style-box-body .style-box-body:before, .style-box-body .style-box-body .style-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.style-bar {
   position:relative;
}
.style-bar:before, .style-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.style-bar:before {
   left:0;
   background-position: top left;
}
.style-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .style-postcontent li h1, .style-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .style-postcontent li h2, .style-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .style-postcontent li h3, .style-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .style-postcontent li h4, .style-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .style-postcontent li h5, .style-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .style-postcontent li h6, .style-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .style-postcontent li p, .style-blockcontent-body li p 
{
   margin:1px;
} 
/* end Page */

/* begin Header */
div.style-header
{
   margin: 0 auto;
   position: relative;
   z-index: -5;
   width:1000px;
   height: 225px;
   margin-top: 0;
   margin-bottom: 0;
}
.style-header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.style-header-wrapper 
{
   position: relative;
   top:0;
   width:1000px;
   margin:0 auto;
}
.style-header-inner 
{
   position: relative;
   margin: 0 4px;
}

.style-header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 225px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin HeaderObject */
div.style-headerobject
{
   display: block;
   left: 95%;
   margin-left: -140px;
   position: absolute;
   top: 50px;
   width: 148px;
   height: 148px;
   background-image: url('../images/header-object.png');
}
/* end HeaderObject */

/* begin Logo */
div.style-logo
{
   display: block;
   position: absolute;
   top: 140px;
   left: 6%;
   margin-left: -59px;
   width: 261px;
}

.style-logo-name
{
   display: block;
   text-align: center;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.style-logo-name a, 
.style-logo-name a:link, 
.style-logo-name a:visited, 
.style-logo-name a:hover
{
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

ul.style-hmenu a, ul.style-hmenu a:link, ul.style-hmenu a:visited, ul.style-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.style-hmenu, ul.style-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.style-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.style-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.style-hmenu li li{
   float: none;
   width: auto;
}
ul.style-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.style-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.style-hmenu:after, ul.style-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.style-hmenu, ul.style-hmenu ul {
   min-height: 0;
}

ul.style-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.style-hmenu ul.style-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.style-hmenu ul.style-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.style-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.style-hmenu ul ul.style-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.style-hmenu ul ul.style-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.style-hmenu li li:hover>ul.style-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.style-hmenu li li:hover>ul.style-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.style-hmenu{
   position:relative;
   padding: 6px 6px 10px 6px;
   float: left;
}

/* end menu structure */

/* menu bar */

.style-nav
{
   width:1000px;
   margin:0 auto;
   min-height: 43px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: -3px;
}

.style-nav:before, .style-nav:after{
   background-image: url('../images/nav.png');
}
.style-nav:before{
   right: 12px;
}
.style-nav:after{
   width: 12px;
}
/* end menu bar */
.style-nav-outer{
   position:absolute;
   width:100%;
}
.style-nav-wrapper 
{
   position: relative;
   width:1000px;
   margin:0 auto;
}

.style-nav-inner{
   margin: 0 6px;
}

.style-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: 43px;
   background-position: center;
}

.style-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: 43px;
   background-position: center;
}

.style-hmenu
{
   float: left;
}

/* images in menu items */
ul.style-hmenu img.style-menu-image, ul.style-hmenu img.style-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.style-hmenu img.style-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end Menu */

/* begin MenuItem */
ul.style-hmenu>li>a
{
   position: relative;
   display: block;
   height: 27px;
   cursor: pointer;
   text-decoration: none;
   color: #ADEBAF;
   padding: 0 17px;
   line-height: 27px;
   text-align: center;
}

ul.style-hmenu>li>a:before, ul.style-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.style-hmenu>li>a:before
{
   left: 0;
   right: 3px;
   background-position: top left;
}

ul.style-hmenu>li>a:after
{
   width: 3px;
   right: 0;
   background-position: top right;
}

.style-hmenu a, .style-hmenu a:link, .style-hmenu a:visited, .style-hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.style-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.style-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.style-hmenu>li>a.active {
   color: #FFFFFF;
}

ul.style-hmenu>li>a:hover:before, ul.style-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.style-hmenu>li>a:hover:after, ul.style-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.style-hmenu>li>a:hover, ul.style-hmenu>li:hover>a{
   color: #FFFFFF;
}

.style-hmenu a:hover.separator-without-submenu 
{
   cursor: default;
}

.style-hmenu a:hover.separator-without-submenu .t
{
   color: #ADEBAF;
}

.style-hmenu li:hover a.separator-without-submenu .t
{
   color: #ADEBAF;
}

a:hover.separator-without-submenu .r, a:hover.separator-without-submenu .l 
{
   top: 0 !important;
}
/* end MenuItem */

/* begin MenuSeparator */
ul.style-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -9px;
   width:9px;
   height: 27px;
   background: url('../images/menuseparator.png') center center no-repeat;
}

ul.style-hmenu>li {
   margin-left:9px;
}
ul.style-hmenu>li:first-child {
   margin-left:0;
}

ul.style-hmenu>li:first-child:before{
   display:none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.style-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   background-image: url('../images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #0B190B;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #B9EEBB;
   font-size: 12px;
   margin:0;
   padding: 0 22px;
}

.style-hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.style-hmenu ul a:link, .style-hmenu ul a:visited, .style-hmenu ul a:hover, .style-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #B9EEBB;
   font-size: 12px;
   margin:0;
   padding: 0 22px;
}

.style-hmenu ul li a:hover
{
   color: #B9EEBB;
   background-position: left bottom;
   border-color: #071D07;
   border-top-width: 1px !important;
}

.style-hmenu ul li a.style-hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.style-hmenu ul li:hover>a
{
   color: #B9EEBB;
   background-position: left bottom;
   border-color: #071D07;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.style-sheet
{
   max-width:1000px;
   margin-top: 7px;
   margin-bottom: -3px;
   cursor:auto;
   width: 1000px;
}
.style-sheet-body 
{
   padding:6px;
   min-width:24px;
   min-height:24px;
   padding-top:8px;
   padding-bottom:6px;
}
.style-sheet:before, .style-sheet:after 
{
   content: url('../images/sheet_t.png');
   font-size: 0;
   background-image: url('../images/sheet_b.png');
}
.style-sheet:after{
   clip:rect(auto, auto, auto, 982px);
}
.style-sheet:before,.style-sheet-body:before{
   right:18px;
}
.style-sheet-body:after{
   width: 18px;
   top:18px;
   bottom:18px;
   background-image:url('../images/sheet.png');
}
.style-sheet-body:before{
   top:18px;
   bottom:18px;
   background-image:url('../images/sheet.png');
}

/* end Box, Sheet */

/* begin Layout */
.style-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.style-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.style-content-layout-row {
   display: table-row;
}

.style-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.style-vmenublock
{
   max-width:988px;
   margin: 10px;
}
.style-vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.style-vmenublockheader {
   margin-bottom: 0;
   min-height: 28px;
   line-height:28px;
}

.style-vmenublockheader .t
{
   min-height: 28px;
   line-height:28px;
   color: #80E083;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 16px;
   text-align: center;
   margin:0;
   padding: 0 10px 0 10px;
   white-space: nowrap;
}

.style-vmenublockheader .t a,
.style-vmenublockheader .t a:link,
.style-vmenublockheader .t a:visited, 
.style-vmenublockheader .t a:hover
{
   color: #80E083;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 16px;
   text-align: center;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.style-vmenublockcontent
{
   max-width:988px;
}
.style-vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.style-vmenu, ul.style-vmenu ul
{
   list-style: none;
   display: block;
}

ul.style-vmenu, ul.style-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.style-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.style-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.style-vmenu ul.active
{
   display: block;
}

/* images in menu items */
ul.style-vmenu img.style-menu-image, ul.style-vmenu img.style-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.style-vmenu img.style-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end VMenu */

/* begin VMenuItem */
ul.style-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-variant: small-caps;
   font-weight: normal;
   font-size: 13px;
   text-transform: none;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.style-vmenu li{
   position:relative;
}

ul.style-vmenu>li>a 
{
   color: #80EF67;
   padding: 0 11px 0 35px;
   height: 27px;
   line-height: 27px;
   white-space: nowrap;
}

ul.style-vmenu>li>a.active {
   color: #FFFFFF;
}
ul.style-vmenu a:hover, ul.style-vmenu a.active:hover {
   color: #FFFFFF;
}

ul.style-vmenu>li>a:before, ul.style-vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:27px;
}

ul.style-vmenu>li>a:before{
   left: 0;
   right: 27px;
   background-position: top left;
}
ul.style-vmenu>li>a:after{
   width: 27px;
   right: 0;
   background-position: top right;
}
ul.style-vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.style-vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.style-vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.style-vmenu>li>a:hover:after {
   background-position: center right;
}

ul.style-vmenu>li{
   margin-top:4px;
}
ul.style-vmenu>li>ul{
   margin-top:4px;
   padding-bottom: 0;
}
ul.style-vmenu>li:first-child{
   margin-top:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.style-vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.style-vmenu li li, ul.style-vmenu li li a {
   position:relative;
}

ul.style-vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 24px;
   overflow: visible;
   background-image: url('../images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:15px;
   padding-right:15px;
   line-height: 24px;
   color: #98E69B;
   font-variant: normal;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}

ul.style-vmenu ul a.active{
   background-position: bottom left;
}
ul.style-vmenu ul a:hover{
   background-position: center left;
   line-height: 24px;
   color: #98E69B;
   font-variant: normal;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}
ul.style-vmenu ul li li a:hover, ul.style-vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.style-vmenu ul a:link, ul.style-vmenu ul a:visited, ul.style-vmenu ul a:active
{
   line-height: 24px;
   color: #98E69B;
   font-variant: normal;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}

ul.style-vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.style-vmenu li li{
   position:relative;
   margin-top:0;
}

ul.style-vmenu ul ul a{
   padding-left:30px;
}
ul.style-vmenu ul ul ul a{
   padding-left:45px;
}
ul.style-vmenu ul ul ul ul a{
   padding-left:60px;
}
ul.style-vmenu ul ul ul ul ul a{
   padding-left:75px;
}

ul.style-vmenu ul li a.active {
   color: #63B715;
}
ul.style-vmenu ul li a:hover, ul.style-vmenu ul li a:hover.active {
   color: #B3EF7B;
}

/* end VMenuSubItem */

/* begin Box, Block */
.style-block
{
   max-width:988px;
   margin: 10px;
}
.style-block-body 
{
   padding:7px;
   min-width:10px;
   min-height:10px;
}
.style-block:before, .style-block:after 
{
   content: url('../images/block_t.png');
   font-size: 0;
   background-image: url('../images/block_b.png');
}
.style-block:after{
   clip:rect(auto, auto, auto, 976px);
}
.style-block:before,.style-block-body:before{
   right:12px;
}
.style-block-body:after{
   width: 12px;
   top:12px;
   bottom:12px;
   background-image:url('../images/block.png');
}
.style-block-body:before{
   top:12px;
   bottom:12px;
   background-image:url('../images/block.png');
}

div.style-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 1px;
   border-color: #31C936;
   border-style: solid;
   margin: 5px;
}

/* end Box, Block */

/* begin BlockHeader */
.style-blockheader {
   margin-bottom: 0;
   min-height: 40px;
   line-height:40px;
}
.style-blockheader:before, .style-blockheader:after{
   background-image: url('../images/blockheader.png');
}
.style-blockheader:before{
   right: 25px;
}
.style-blockheader:after{
   width: 25px;
}

.style-blockheader .t
{
   min-height: 40px;
   line-height:40px;
   color: #90E493;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 16px;
   text-align: center;
   margin:0;
   padding: 0 10px 0 31px;
   white-space: nowrap;
}

.style-blockheader .t a,
.style-blockheader .t a:link,
.style-blockheader .t a:visited, 
.style-blockheader .t a:hover
{
   color: #90E493;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 16px;
   text-align: center;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.style-blockcontent
{
   max-width:988px;
}
.style-blockcontent-body 
{
   padding:7px;
   color: #C6F1C7;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   line-height: 150%;
}
.style-blockcontent-body table,
.style-blockcontent-body li, 
.style-blockcontent-body a,
.style-blockcontent-body a:link,
.style-blockcontent-body a:visited,
.style-blockcontent-body a:hover
{
   color: #C6F1C7;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   line-height: 150%;
}

.style-blockcontent-body p
{
   margin: 0 5px;
}

.style-blockcontent-body a, .style-blockcontent-body a:link
{
   color: #80E083;
   text-decoration: none;
}

.style-blockcontent-body a:visited, .style-blockcontent-body a.visited
{
   color: #CAF2CB;
   text-decoration: none;
}

.style-blockcontent-body a:hover, .style-blockcontent-body a.hover
{
   color: #FFFFFF;
   text-decoration: underline;
}

.style-blockcontent-body ul li
{
   line-height: 125%;
   color: #C6F1C7;
   margin: 5px 0 0 10px;
   padding: 0 0 0 17px;
   background-image: url('../images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Button */
span.style-button-wrapper>a.style-button,
span.style-button-wrapper>a.style-button:link,
span.style-button-wrapper>input.style-button,
span.style-button-wrapper>button.style-button
{
   text-decoration: none;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 11px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #D9F8C4 !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 25px;
   height: 25px;
   margin: 0 !important;
   padding: 0 10px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.style-button img, span.style-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.style-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 25px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:988px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.style-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 11px;
}

div.style-block select 
{
   width:96%;
}

span.style-button-wrapper.hover>.style-button, span.style-button-wrapper.hover>a.style-button:link
{
   color: #E2F9CD !important;
   text-decoration: none !important;
}

span.style-button-wrapper.active>.style-button, span.style-button-wrapper.active>a.style-button:link
{
   color: #C6F1C7 !important;
}

span.style-button-wrapper>span.style-button-l, span.style-button-wrapper>span.style-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('../images/button.png');
   background-repeat: no-repeat;
}

span.style-button-wrapper>span.style-button-l
{
   left: 0;
   right: 4px;
   background-position: top left;
}

span.style-button-wrapper>span.style-button-r
{
   width: 4px;
   right: 0;
   background-position: top right;
}

span.style-button-wrapper.hover>span.style-button-l
{
   background-position: center left;
}

span.style-button-wrapper.hover>span.style-button-r
{
   background-position: center right;
}

span.style-button-wrapper.active>span.style-button-l
{
   background-position: bottom left;
}

span.style-button-wrapper.active>span.style-button-r
{
   background-position: bottom right;
}

span.style-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.style-post
{
   max-width:988px;
   margin: 0;
}
.style-post-body 
{
   padding:10px;
}

a img
{
   border: 0;
}

.style-article img, img.style-article, .style-block img, .style-footer img
{
   border-color: #31C936;
   border-style: solid;
   border-width: 0;
   margin: 7px 7px 7px 7px;
}

.style-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.style-article table, table.style-article
{
   border-collapse: collapse;
   margin: 1px;
}

.style-post .style-content-layout-br
{
   height: 0;
}

.style-article th, .style-article td
{
   padding: 2px;
   border: solid 1px #223021;
   vertical-align: top;
   text-align: left;
}

.style-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.style-article
{
   border-collapse: separate;
}/* end Box, Post */

/* begin PostHeaderIcon */
.style-postheader
{
   color: #162D06;
   margin: 5px 0;
   line-height: 1em;
   font-size: 24px;
   text-align: center;
}

.style-postheader a, 
.style-postheader a:link, 
.style-postheader a:visited,
.style-postheader a.visited,
.style-postheader a:hover,
.style-postheader a.hovered
{
   font-size: 24px;
   text-align: center;
}

.style-postheader a, .style-postheader a:link
{
   text-align: left;
   text-decoration: none;
   color: #0B190B;
}

.style-postheader a:visited, .style-postheader a.visited
{
   color: #253324;
}

.style-postheader a:hover,  .style-postheader a.hovered
{
   text-decoration: underline;
   color: #203B07;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.style-postheadericons,
.style-postheadericons a,
.style-postheadericons a:link,
.style-postheadericons a:visited,
.style-postheadericons a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   text-align: center;
   color: #DEF7DF;
}

.style-postheadericons
{
   padding: 1px;
}

.style-postheadericons a, .style-postheadericons a:link
{
   font-style: italic;
   font-weight: normal;
   text-decoration: none;
   color: #2B5B0B;
}

.style-postheadericons a:visited, .style-postheadericons a.visited
{
   color: #2B5B0B;
}

.style-postheadericons a:hover, .style-postheadericons a.hover
{
   text-decoration: underline;
   color: #0D1B03;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.style-postdateicon
{
   display:inline-block;
   line-height: 1em;
}

span.style-postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.style-postauthoricon
{
   display:inline-block;
   line-height: 1em;
}

span.style-postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostPrintIcon */
span.style-postprinticon
{
   background:url('../images/postprinticon.png') no-repeat left 0.5em;
   padding-top:6px;
   margin-top:-6px;
   padding-left:21px;
   min-height:13px;
   display:inline-block;
   line-height: 1em;
}

span.style-postprinticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostPrintIcon */

/* begin PostIcon, PostEditIcon */
span.style-postediticon
{
   background:url('../images/postediticon.png') no-repeat left 0.5em;
   padding-top:7px;
   margin-top:-7px;
   padding-left:20px;
   min-height:14px;
   display:inline-block;
   line-height: 1em;
}

span.style-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.style-postcontent ol, .style-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.style-postcontent li
{
   text-align: justify;
   color: #000000;
   margin: 5px 0 5px -15px;
   padding: 0 0 0 16px;
}

.style-postcontent li ol, .style-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.style-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.style-postcontent ul>li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 16px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .style-postcontent blockquote a, .style-blockcontent blockquote a, .style-footer blockquote a,
blockquote a:link, .style-postcontent blockquote a:link, .style-blockcontent blockquote a:link, .style-footer blockquote a:link,
blockquote a:visited, .style-postcontent blockquote a:visited, .style-blockcontent blockquote a:visited, .style-footer blockquote a:visited,
blockquote a:hover, .style-postcontent blockquote a:hover, .style-blockcontent blockquote a:hover, .style-footer blockquote a:hover
{
   color: #000000;
   font-style: italic;
   font-weight: normal;
   text-align: justify;
}

/* Override native 'p' margins*/
blockquote p,
.style-postcontent blockquote p,
.style-blockcontent blockquote p,
.style-footer blockquote p
{
   margin: 0;
}

blockquote
{
   margin: 10px;
   padding: 10px;
   background-color: #FFFFFF;
   margin-left: 50px;
   padding-left: 38px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin Footer */
.style-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.style-footer-body
{
   position:relative;
   padding: 5px;
   color: #C6F1C7;
   font-size: 11px;
}

.style-footer-body ul li
{
   font-size: 13px;
   line-height: 125%;
   color: #C6F1C7;
   padding: 0 0 0 13px;
   background-image: url('../images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.style-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:3px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.style-footer:before, .style-footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:3px;
   background-image: url('../images/footer_b.png');
}

.style-footer:before
{
   left:0;
   right:3px;
   background-position: bottom left;
}

.style-footer:after
{
   right:0;
   width:3px;
   background-position: bottom right;
}

.style-footer-body .style-rss-tag-icon
{
   position: absolute;
   left:   6px;
   bottom:5px;
   z-index:1;
}

.style-rss-tag-icon
{
   display: block;
   background-image: url('../images/livemarks.png');
   background-repeat: no-repeat;
   height: 31px;
   cursor: default;
   background-position: left;
   padding-left: 31px;
   width: auto;
   line-height: 31px;
   font-size: 11px;
}

.style-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.style-footer-body a,
.style-footer-body a:link,
.style-footer-body a:visited,
.style-footer-body a:hover,
.style-footer-body td, 
.style-footer-body th,
.style-footer-body caption
{
   color: #C6F1C7;
   font-size: 11px;
}

.style-footer-text
{
   min-height: 31px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.style-footer-body a,
.style-footer-body a:link
{
   color: #C3F396;
   text-decoration: none;
}

.style-footer-body a:visited
{
   color: #BDEFBF;
}

.style-footer-body a:hover
{
   color: #D0F6B6;
   text-decoration: underline;
}

div.style-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 1px;
   border-color: #0A290B;
   border-style: solid;
   margin: 5px;
}

.style-rss-tag-icon span
{
   padding-left: .5em;
}
/* end Footer */

/* begin PageFooter */
.style-page-footer, 
.style-page-footer a,
.style-page-footer a:link,
.style-page-footer a:visited,
.style-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #A1ED6E;
}

.style-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #7CDF7F;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.style-content-layout .style-sidebar1
{
   width: 225px;
}
.style-content-layout .style-sidebar1:before
{
   position: absolute;
   z-index: -2;
   direction: ltr;
   left:   0;
   bottom: 0;
   top: 0;
   content: ' ';
   overflow: hidden;
   display: block;
   background-image: url('../images/sidebar_bg.png');
   width: 225px;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */
.style-content-layout .style-sidebar2
{
   width: 225px;
}
.style-content-layout .style-sidebar2:before
{
   position: absolute;
   z-index: -2;
   direction: ltr;
   right:   0;
   bottom: 0;
   top: 0;
   content: ' ';
   overflow: hidden;
   display: block;
   background-image: url('../images/sidebar_bg.png');
   width: 225px;
}
/* end LayoutCell, sidebar2 */

/* category items */

.category ul.actions,
.category ul.actions li,
.category ul.actions li img
{
   display: inline;
   margin: 0;
   padding: 0;
}

.category ul.actions li
{
   background: none;
}

/* categories list container */

.category-list .category-desc .image-left
{
   float: left;
   margin: 0 5px 5px 0;
}

.category-list .category-desc .image-right
{
   float: left;
   margin: 0 0 5px 5px;
}

.category-list fieldset.filters
{
   border: none;
}
 
.category-list fieldset.filters .display-limit
{
   text-align: right;
   margin-right: .5em;
}
 
.category-list table.category
{
   width: 100%;
}
 
.category-list table.category thead th a img
{
   border: none;
   padding-left: .3em;
}

 /* categories list items */

.categories-list ul
{
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

.categories-list ul li
{
   background-image: none;
   padding: 5px;
   clear: both;
}

.categories-list ul ul
{
   margin-left: 10px;
}

dl.newsfeed-count dl,
dl.weblink-count dl,
dl.article-count dl
{
   clear: both;
}

dl.newsfeed-count dt,
dl.newsfeed-count dd,
dl.weblink-count dt,
dl.weblink-count dd,
dl.article-count dt,
dl.article-count dd
{
   display: inline;
}

dl.newsfeed-count dd,
dl.weblink-count dd,
dl.article-count dd
{
   padding: 0;
   margin: 0;
}

/* category subcategories */

.cat-children ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.cat-children ul li
{
   background-image: none;
   padding: 5px;
   clear: both;
}

/* contact */

.contact-email div
{
   padding: 3px 0;
}

.contact-email label
{
   width: 15em;
   float: left;
}

/* articles archive items */

#archive-items
{
   list-style-type: none;
   margin: 10px 0;
   padding: 0;
}

#archive-items li
{
   list-style-type: none;
   background-image: none;
   margin: 10px 0;
   padding: 0;
}

/* article */
ul.pagenav
{
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align: center;
}

ul.pagenav li
{
   display: inline-block;
   padding: 0 5px;
   text-align: center;
   background-image: none;
}

/* blog layout */

.cols-2 .column-1,
.cols-2 .column-2,
.cols-3 .column-1,
.cols-3 .column-2,
.cols-3 .column-3
{
   float: left;
   clear: right;
}

.cols-2 .column-1 {
   width: 50%;
}
.cols-2 .column-2 {
   width: 50%;
}
.cols-3 .column-1 {
   width: 33%;
}
.cols-3 .column-2 {
   width: 33%;
}
.cols-3 .column-3 {
   width: 34%;
}

.row-separator
{
   clear: both;
   float: none;
   font-size: 1px;
   display: block;
}

/* article info */

.article-info
{
   margin: 10px 0;
}

.article-info .article-info-term
{
   display: none;
}

.article-info dd
{
   background-image: none;
   margin: 0;
   padding: 0;
   line-height: 120%;
}

/* login */

.login .login-description img
{
   float: left;
   margin: 0 5px 5px 0;
}

.login fieldset
{
   clear: both;
   border:  0;
}

.login .login-fields label
{
   float: left;
   width: 15em;
   display: block;
}

/* search form */

#searchForm .phrases-box label
{
   display: block;
   line-height: 1.6em;
   margin-left: 2em;
}

#searchForm .phrases-box input
{
   display: block;
   float: left;
   width: auto;
   border: none;
   line-height: 1.6em;
   margin: 0;
}

#searchForm .only label
{
   display: block;
   line-height: 1.6em;
   margin-left: 2em;
}

#searchForm .only input
{
   display: block;
   float: left;
   width: auto;
   border: none;
   line-height: 1.6em;
   margin: 0;
}

#searchForm .form-limit
{
   margin-top: .5em;
}

/* pagination */

.pagination
{
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination .counter
{
   text-align: center;
}

.pagination ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination ul li
{
   display: inline;
   padding: 2px 5px;
   text-align: left;
   margin: 0 2px;
   background-image: none;
}

.pagination ul li.pagination-start,
.pagination ul li.pagination-start span,
.pagination ul li.pagination-end,
.pagination ul li.pagination-end span
{
   padding: 0;
}

/* system messages */

#system-message
{
   margin-bottom: 20px;
}

#system-message dd.message ul
{
   background: #c3d2e5 url(../../system/images/notice-info.png) 4px center no-repeat;
   border-top: 3px solid #de7a7b;
   border-bottom: 3px solid #de7a7b;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message dd.error ul
{
   color: #c00;
   background: #e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
   border-top: 3px solid #de7a7b;
   border-bottom: 3px solid #de7a7b;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message dd.notice ul
{
   color: #c00;
   background: #efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
   border-top: 3px solid #f0dc7e;
   border-bottom: 3px solid #f0dc7e;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message ul li
{
   background-image: none;
   padding-left: 0;
}

/* icon tooltip */

.tip
{
   border: solid 1px #333;
   background: #ffffcc;
   padding: 3px;
   text-align: left;
}

.tip-title
{
   font-weight: bold;
}

/* login module */

#login-form fieldset
{
   border: none;
   margin: 0;
   padding: 0;
}

#login-form p
{
   margin: 0.5em 0 0 0;
}

#login-form #form-login-username label,
#login-form #form-login-password label
{
   display: block;
}

#login-form #form-login-remember input
{
   margin: 0;
   padding: 0;
   vertical-align: bottom;
   position: relative;
   top: -1px;
}

#login-form #modlgn-username,
#login-form #modlgn-passwd
{
   width: 95%;
   margin: 0;
   padding: 0;
}

#login-form ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#login-form ul li
{
   background-image: none;
   padding: 0;
}

/* pagebreak content plugin */

#article-index
{
   float: right;
   margin: .5em;
   padding: .5em;
}

.pagenavcounter
{
   margin: .5em 0;
   padding: .5em 0;
   font-weight: bold;
}

/* com_users forms: registration, profile, edit profile, remind, reset */
.registration fieldset,
.profile-edit fieldset,
.profile fieldset,
#user-registration fieldset
{
   margin: .5em 0;
   padding: 1em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
.profile fieldset dt,
#user-registration fieldset dt
{
   float: left;
   width: 16em;
   padding: .2em 0;
}

.registration fieldset dd,
.profile-edit fieldset dd,
.profile fieldset dd,
#user-registration fieldset dd
{
   padding: .2em 0;
   margin-left: 16em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
#user-registration fieldset dt,
.registration fieldset dd,
.profile-edit fieldset dd,
#user-registration fieldset dd
{
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

.registration fieldset legend,
.profile-edit fieldset legend,
.profile fieldset legend
{
   font-weight: bold;
}

/* mod_stats */
.stats-module dt
{
   float: left;
   width: 10em;
   padding: .2em 0;
   font-weight: bold;
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

.stats-module dd
{
   padding: .2em 0;
   margin-left: 10em;
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}


