/* begin Page */
#style-page-background-glare {
   zoom: 1;
}

/* Start Box */
.style-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='style-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.style-box-body {
   zoom:1;
}
.style-box-tl, .style-box-tr, .style-box-cl, .style-box-cr, .style-box-bl, .style-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.style-box-tl,.style-box-bl,.style-box-cl {
   left:0;
}
.style-box-tr,.style-box-br,.style-box-cr {
   right:0;
}
.style-box-cl, .style-box-cr {
   background-repeat:repeat-y;
}
.style-box-tl {
   background-position: top left;
   z-index:-3;
}
.style-box-tr {
   background-position: top right;
   z-index:-3;
}
.style-box-cl {
   background-position: center left;
   z-index:-3;
}
.style-box-cr {
   background-position: center right;
   z-index:-3;
}
.style-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.style-box-br {
   background-position: bottom right;
   z-index:-3;
}

.style-box .style-box-tl,.style-box .style-box-tr,.style-box .style-box-cl,.style-box .style-box-cr,.style-box .style-box-bl,.style-box .style-box-br{
   z-index:-2;
}
.style-box .style-box .style-box-tl,.style-box .style-box .style-box-tr,.style-box .style-box .style-box-cl,.style-box .style-box .style-box-cr,.style-box .style-box .style-box-bl,.style-box .style-box .style-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.style-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='style-bar-'+e[ i]}('r,l'.split(',')));
}
.style-bar-l, .style-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.style-bar-l {
   left:0;
   background-position: top left;
}
.style-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Header */
.style-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='style-header-png');
   z-index: 1;
}

.style-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 225px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Menu */
.style-nav {
   position: expression(runtimeStyle.position='relative');
}
.style-nav>.style-bar-l, .style-nav>.style-bar-r{
   background-image: url('../images/nav.png');
}
.style-nav>.style-bar-l{
   right: 12px;
}
.style-nav>.style-bar-r{
   width: 12px;
}
.style-hmenu ul li {
   float: left !important;
   width:100%;
}
.style-hmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.style-hmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='style-hmenu-'+e[ i]}('r,l'.split(',')));
}
ul.style-hmenu>li>a>span.style-hmenu-l, ul.style-hmenu>li>a>span.style-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.style-hmenu>li>a>span.style-hmenu-l
{
   left: 0;
   right: 3px;
   background-position: top left;
}

ul.style-hmenu>li>a>span.style-hmenu-r
{
   width: 3px;
   right: 0;
   background-position: top right;
}

ul.style-hmenu>li>a.active>span.style-hmenu-l {
   background-position: bottom left;
} 
ul.style-hmenu>li>a.active>span.style-hmenu-r {
   background-position: bottom right;
}
ul.style-hmenu>li>a.active {
   color: #FFFFFF;
}

ul.style-hmenu>li>a:hover>span.style-hmenu-l, ul.style-hmenu>li:hover>a>span.style-hmenu-l {
   background-position: center left;
}
ul.style-hmenu>li>a:hover>span.style-hmenu-r, ul.style-hmenu>li:hover>a>span.style-hmenu-r {
   background-position: center right;
}
ul.style-hmenu>li>a:hover, ul.style-hmenu>li:hover>a{
   color: #FFFFFF;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.style-hmenu>li:first-child {
   padding-right:9px;
}
ul.style-hmenu>li>span.style-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -9px;
   width: 9px;
   height: 27px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin Box, Sheet */
.style-sheet>.style-box-tl, .style-sheet>.style-box-tr{
   background-image: url('../images/sheet_t.png');
}
.style-sheet>.style-box-bl, .style-sheet>.style-box-br {
   background-image: url('../images/sheet_b.png');
}
.style-sheet>.style-box-tl, .style-sheet>.style-box-bl, .style-sheet>.style-box-cl{
   right:18px;
}
.style-sheet>.style-box-tr, .style-sheet>.style-box-br, .style-sheet>.style-box-cr{
   width: 18px;
}
.style-sheet>.style-box-cl, .style-sheet>.style-box-cr{
   top:18px;
   bottom:18px;
   background-image:url('../images/sheet.png');
}
/* end Box, Sheet */

/* begin Layout */
.style-content-layout, .style-content-layout-row, .style-layout-cell 
{
   display: block;
   zoom: 1;
}
.style-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin VMenuItem */
ul.style-vmenu, ul.style-vmenu ul, ul.style-vmenu li{
   zoom: 1;
}
ul.style-vmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='style-vmenu-'+e[ i]}('r,l'.split(',')));
}
ul.style-vmenu>li>a>span.style-vmenu-l, ul.style-vmenu>li>a>span.style-vmenu-r
{
   position: absolute;
   display: block;
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:27px;
}

ul.style-vmenu>li>a>span.style-vmenu-l{
   left: 0;
   right: 27px;
   background-position: top left;
}
ul.style-vmenu>li>a>span.style-vmenu-r{
   width: 27px;
   right: 0;
   background-position: top right;
}
ul.style-vmenu>li>a.active>span.style-vmenu-l {
   background-position: bottom left;
}
ul.style-vmenu>li>a.active>span.style-vmenu-r {
   background-position: bottom right;
}
ul.style-vmenu>li>a:hover>span.style-vmenu-l  {
   background-position: center left;
}
ul.style-vmenu>li>a:hover>span.style-vmenu-r {
   background-position: center right;
}

ul.style-vmenu .style-vmenu-separator, ul.style-vmenu .style-vmenu-separator-bg
{
   display: block;
   position:absolute;
   left:0;
   right:0;
}

/* end VMenuItem */

/* begin Box, Block */
.style-block>.style-box-tl, .style-block>.style-box-tr{
   background-image: url('../images/block_t.png');
}
.style-block>.style-box-bl, .style-block>.style-box-br {
   background-image: url('../images/block_b.png');
}
.style-block>.style-box-tl, .style-block>.style-box-bl, .style-block>.style-box-cl{
   right:12px;
}
.style-block>.style-box-tr, .style-block>.style-box-br, .style-block>.style-box-cr{
   width: 12px;
}
.style-block>.style-box-cl, .style-block>.style-box-cr{
   top:12px;
   bottom:12px;
   background-image:url('../images/block.png');
}
/* end Box, Block */

/* begin BlockHeader */
.style-blockheader>.style-bar-l, .style-blockheader>.style-bar-r{
   background-image: url('../images/blockheader.png');
}
.style-blockheader>.style-bar-l{
   right: 25px;
}
.style-blockheader>.style-bar-r{
   width: 25px;
}

/* end BlockHeader */

/* begin PostIcons, PostHeaderIcons */
.style-postheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.style-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin Footer */
.style-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='style-footer-'+e[ i]}('r,l,t'.split(',')));
}
.style-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

.style-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:3px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.style-footer-l, .style-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:3px;
   background-image: url('../images/footer_b.png');
}

.style-footer-l
{
   left:0;
   right:3px;
   background-position: top left;
}

.style-footer-r
{
   right:0;
   width:3px;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, sidebar1 */
.style-sidebar1 {
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='style-sidebar1-bg' + (className.indexOf('style-sidebar1-fix') == -1 ? '' : ' style-sidebar1-bg-fix' ));
}
.style-sidebar1-bg 
{
   zoom:expression(runtimeStyle.zoom=1, appendChild(document.createElement('div')).className='style-sidebar1-glare');
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 225px;
   overflow:hidden;
   display:block;
   background-image: url('../images/sidebar_bg.png');
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */
.style-sidebar2 
{
   width: auto;
   float:none;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='style-sidebar2-bg' + (className.indexOf('style-sidebar2-fix') == -1 ? '' : ' style-sidebar2-bg-fix' ));
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar2 */

.style-sidebar2-bg 
{
   zoom:expression(runtimeStyle.zoom=1, appendChild(document.createElement('div')).className='style-sidebar2-glare');
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 225px;
   overflow:hidden;
   display:block;
   background-image: url('../images/sidebar_bg.png');
}
/* end LayoutCell, sidebar2 */

/* Plugin compatilibity. */

/* 154150, news pro gk1 */
.gk_npro_full_scroll1
{
   position: relative;
}

.nspro_bg_wrap .style-button-wrapper a
{
   float: none !important;
}
